In [5]:
#panda library

values count
unique
costum functions
age +10 through lambda functions

getting columns name = .column function

sorting through descending order through age

replacing city from peshawar to swat

isnull()

notanum , then add all in column

missing.dropna , can delete that whole row or column or replace with 0

we can do replacing nonanumber with mean

we can also do backward fill or forward fill

JOINING
inner join
pd.merge(data1,data2)
left jion
right join
full outer join

bydefault its inner join when we join two data

save data to csv file , load data

In [15]:
import pandas as pd
print("#######Series#########")
data = [10, 20, 30, 40]
series = pd.Series(data)
print(series)

#######Series#########
0    10
1    20
2    30
3    40
dtype: int64

In [7]:
data = [
    ["Alice", 25, "New York"],
    ["Bob", 30, "Los Angeles"],
    ["Charlie", 35, "Chicago"]
]
print("###########DataFrame#############")
df = pd.DataFrame(data, columns=["Name", "Age", "City"])
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [11]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}
print("###########DataFrame#############")
df = pd.DataFrame(data)
print(df)

###########DataFrame#############
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [17]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}
df
print(data['Name'])

['Alice', 'Bob', 'Charlie']

In [19]:
#condicional selection from a column
import pandas as pd

# Sample DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 35, 40],
    "City": ["New York", "Los Angeles", "Chicago", "Miami"]
}

df = pd.DataFrame(data)

# Filter rows where Age > 30
filtered_df = df[df["Age"] > 30]
print(filtered_df)

      Name  Age     City
2  Charlie   35  Chicago
3    David   40    Miami

In [23]:
#setting index
import pandas as pd

# Sample DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}

df = pd.DataFrame(data)

# Set 'Name' column as index
df = df.set_index("Name")

print(df)

         Age         City
Name
Alice     25     New York
Bob       30  Los Angeles
Charlie   35      Chicago

In [25]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [27]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [29]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [31]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [33]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [35]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [37]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [39]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45